{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <img width="150" src="{% static 'images/ppf-no-background.png' %}" alt="" class="img-fluid" />
                <b>{{report.reporter.username}}</b> -><b> {{report.reported.username}}</b> Report
                <hr>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {{report.comment}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this report?')">Delete Report</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}