{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <img width="150" src="{% static 'images/ppf-no-background.png' %}" alt="" class="img-fluid" />
                User Report Details
                <hr>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                {% for route in routes %}
                <li class="list-group-item" style="background-color: rgb(168, 168, 168);">
                    <div class="row"> <!-- Add row wrapper -->
                        <div class="col-md-1">
                            <span class="fw-bold">{{ route.id }}</span>
                        </div>
                        <div class="col-md-3">
                            <span>{{ route.driver}}</span>
                            <span> - {{ route.departureTime }}</span>
                        </div>
                        <div class="col-md-6" style="display: inline-block;"> <!-- Adjust column classes -->
                            <!-- Add content for the middle column if needed -->
                            <span>{{ route.originAlias }} --> {{ route.destinationAlias }}</span>
                        </div>
                        <div class="col-md-2 center"> <!-- Adjust column classes -->
                            <a href="{% url 'chatRoomDetails' route.id %}">
                                <button type="button" class="btn btn-primary">Chat Details</button>
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>



</div>
{% endblock content %}